{% extends 'Planning/base.html' %}
{% load static %}
{% block title%}Webeeconf{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <hr>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" data-mdb-perfect-scrollbar="true"
                    style="padding-right:0; padding-left:0; height:695px; overflow-y: scroll;">

                    <input type="text" id="searchInput" class="form-control" placeholder="Rechercher un intervenant">

                    <div class="list-group planning-area">
                        <!-- planning area by ajax -->

                        {% for intervenant in intervenants %}
                        <li id="{{ intervenant.id }}"
                            class="list-group-item personne align-items-start list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <img src="{{ intervenant.logo.url }}"
                                    style="width: 75px;height: 75px;border-radius: 30rem;">
                                <h5 class="mb-1" style="align-self: center;"> {{ intervenant.nom|upper }} {{  intervenant.prenom }} </h5>
                                <div>
                                    <a href="#" class="bi-pencil-fill text-secondary edit-intervenant" data-id="{{ intervenant.id }}"></a>
                                    <a href="#" class="bi-trash text-warning delete-intervenant" data-id="{{ intervenant.id }}"></a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <br>
            <div id="intervenantFormContainer">
                <form id="intervenantForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ Intervenant_form|crispy }}
                    <hr>
                    <button type="submit" class="btn btn-info" id="sess_submit">Valider Session</button>
                </form>
            </div>

            <div id="editFormContainer" style="display: none;">
                <form id="editIntervenantForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="editIntervenantId" name="id">
                    {{ EditIntervenant_form|crispy }}
                    <hr>
                    <button type="submit" class="btn btn-info" id="edit_submit">Valider Modification</button>
                    <button type="button" class="btn btn-secondary" id="cancel_edit">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" defer>
    $(document).ready(function () {
        // Fonction de filtrage des intervenants en fonction de la recherche
        function filterIntervenants(searchTerm) {
            var intervenantList = $('.planning-area');
            var intervenants = intervenantList.find('li');

            intervenants.each(function() {
                var intervenant = $(this);
                var intervenantName = intervenant.find('h5').text().toLowerCase();
                

                if (intervenantName.indexOf(searchTerm.toLowerCase()) === -1) {
                    intervenant.hide();
                } else {
                    intervenant.show();
                }
            });
        }

        // Écouter l'événement de saisie dans la barre de recherche
        $('#searchInput').on('input', function() {
            var searchTerm = $(this).val();
            filterIntervenants(searchTerm);
        });
        
        $('#intervenantForm').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        console.log('Intervenant enregistré avec succès.');

                        // Ajouter le nouvel intervenant à la liste
                        var intervenantList = $('.planning-area');
                         var newIntervenant = $('<li/>', {
                            id: response.intervenant.id,
                            class: 'list-group-item personne align-items-start list-group-item-action'
                        });

                        var content = $('<div/>', {
                            class: 'd-flex w-100 justify-content-between'
                        });

                        var img = $('<img/>', {
                            src: response.intervenant.logo_url,
                            style: 'width: 75px;height: 75px;border-radius: 30rem;'
                        });

                        var name = $('<h5/>', {
                            class: 'mb-1',
                            style: 'align-self: center;',
                            text: response.intervenant.nom_complet
                        });

                        var debutdiv = $('<div/>');
                        
                        var editButton = $('<a/>', {
                            href: "#",
                            class: 'bi-pencil-fill text-secondary edit-intervenant',
                            'data-id': response.intervenant.id,
                            text: ''
                        });

                        var deleteButton = $('<a/>', {
                            href: "#",
                            class: 'bi-trash text-warning delete-intervenant',
                            'data-id': response.intervenant.id,
                            text: ''
                        });
                        
                        debutdiv.append(editButton, deleteButton)
                        content.append(img, name, debutdiv);
                        newIntervenant.append(content);
                        intervenantList.append(newIntervenant);
                    } else {
                        console.log(response.errors);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log('Erreur lors de la soumission du formulaire : ' + thrownError);
                }
            });
        });

        // Gestion du formulaire de modification
        $('.edit-intervenant').click(function() {
            var intervenantId = $(this).data('id');
            var intervenantItem = $('#' + intervenantId);
            var intervenantName = intervenantItem.find('h5').text();
            var intervenantLogo = intervenantItem.find('img').attr('src');

            // Remplir le formulaire de modification
            $('#editIntervenantId').val(intervenantId);
            $('#id_nom').val(intervenantName);
            $('#editIntervenantForm img').attr('src', intervenantLogo);

            // Masquer le formulaire d'ajout et afficher le formulaire de modification
            $('#intervenantFormContainer').hide();
            $('#editFormContainer').show();
        });

        // Annuler la modification
        $('#cancel_edit').click(function() {
            // Réinitialiser le formulaire
            $('#editIntervenantForm')[0].reset();
            $('#editIntervenantForm img').attr('src', '');

            // Afficher le formulaire d'ajout et masquer le formulaire de modification
            $('#editFormContainer').hide();
            $('#intervenantFormContainer').show();
        });

        // Soumettre la modification
        $('#editIntervenantForm').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        console.log('Intervenant modifié avec succès.');

                        // Mettre à jour les informations de l'intervenant dans la liste
                        var intervenantItem = $('#' + response.intervenant.id);
                        intervenantItem.find('h5').text(response.intervenant.nom_complet);
                        intervenantItem.find('img').attr('src', response.intervenant.logo_url);

                        // Réinitialiser le formulaire
                        $('#editIntervenantForm')[0].reset();
                        $('#editIntervenantForm img').attr('src', '');

                        // Afficher le formulaire d'ajout et masquer le formulaire de modification
                        $('#editFormContainer').hide();
                        $('#intervenantFormContainer').show();
                    } else {
                        console.log(response.errors);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log('Erreur lors de la soumission du formulaire : ' + thrownError);
                }
            });
        });

        // Supprimer un intervenant
        $(document).on('click', '.delete-intervenant', function () {
            var intervenantId = $(this).data('id');
            var intervenantItem = $('#' + intervenantId);

            // Confirmer la suppression de l'intervenant
            if (confirm('Êtes-vous sûr de vouloir supprimer cet intervenant ?')) {
                urlinter = "{% url 'planning:delete_intervenant' 1234 %}".replace(/1234/,
                    intervenantId);

                $.ajax({
                    type: 'POST',
                    url: urlinter,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            console.log('Intervenant supprimé avec succès.');

                            // Supprimer l'intervenant de la liste
                            intervenantItem.remove();
                        } else {
                            console.log(response.errors);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log('Erreur lors de la suppression de l\'intervenant : ' +
                            thrownError);
                    }
                });
            }
        });
    });
</script>


{% endblock %}