{% extends 'planning/base.html' %}
{% load static %}

{% block body %}
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-md-12">
      <div class="list-group list-group-horizontal" id="rooms">
        {% for room in rooms %}
        <a href="javascript:setRoomLive('{{room.number}}', '{{room.id}}', '{{ rooms|length }}', '{{room.ip_server}}')"
          class="list-group-item list-group-item-action text-center rounded-0"
          style=" border-bottom: 2px solid #1ce; height: 34px; padding: 2px 7px;" id="room_id{{ forloop.counter }}">
          {{room.number}}  {{room.name}}</a>
        {% empty %}
        <p> Désolé, pas de salles disponibles !</p>
        {% endfor %}

          <i id="btn-lancement" class="bi bi-arrow-clockwise" style="font-size: 1.5rem;  border-bottom: height: 34px; padding: 2px 7px; ; padding-top: 0;" onclick="fetching_files()"></i> 

    </div>
    <!-- <hr class="divider" /> -->
  </div>
</div>

<div class="container-fluid  p-0">
  <div class="row g-2">
    <div class="col-md-12">

      {% for day in days %}
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio_dates" id="radio_dates" value={{day.date}}
          onclick="setDate('{{day.id}}', '{{day.date}}')">
        <label class="form-check-label" for="inlineRadio1">{{day.date}}</label>
      </div>
      {% endfor %}
      <div class="card">
        <div class="card-body" data-mdb-perfect-scrollbar="true"
          style="padding-right:0; padding-left:0; height:695px; overflow-y: scroll;">
          <div class="list-group planning-area">
            <!-- planning area by ajax -->
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <div id="overlay">
    <section id="chargement">
      <h5>Synchronisation des fichiers en cours...</h5>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </section>
  </div>
  <input type="hidden" id="js_data" data-url="" data-csrf="{{csrf_token}}" />

</div>



<script type="text/javascript" defer>
  let csrf_token = $("#js_data").attr("data-csrf");

  let date_sel = "12-12-2012";
  let date_id = "";
  let room_sel = 0;
  let room_ip =''
  let sess_sel = 0;
  let on_edit = false;

  /*document.getElementById("synchro").addEventListener('click', function(){
    //popup de synchronisation
    document.getElementById("overlay").style.display = "block";
  });
*/
  function fetching_files(){
    document.getElementById("overlay").style.display = "block";
    alert("test");
    fetch("{% url 'planning:fetching_files' %}", {
      method: "POST",
      credentials: 'same-origin',
      headers: {
        "Content-Type": 'application/json',
        'X-CSRFToken': csrf_token
      },
      body: JSON.stringify({
        room_ip: room_ip,
        room_id: room_sel
      }),
    }).then(e => e.json()).then(messages => {

      document.getElementById("overlay").style.display = "none";
    })
  }

  var id_pres, old_sel = "";
  var session_id = -1; //pour bien classer les session 
  let planning_container = document.querySelector(".planning-area");

  // selection de la salle
  function setRoomLive(room_nb, room_id, nbTotal, server_ip) {

    for (let i = 1; i <= nbTotal; i++) {
      document.getElementById('room_id' + i).style.color = '#000000';
      document.getElementById('room_id' + i).style.borderBottom = document.getElementById('room_id' + i).style.borderTop;
    }
    document.getElementById('room_id' + room_nb).style.borderBottom = "2px solid #1ce";

    load_planning(room_id);
    room_sel = room_id;
    room_ip = server_ip
  }

  // selection de la date
  function setDate(id,date) {
    date_sel = date;
    date_id = id;
    load_planning(room_sel);
  }
  //chargement de la page
  $(document).ready(function () {
    document.getElementsByName('radio_dates')[0].click();
    document.getElementById('room_id1').click();
  });

  //affichage du planning de la journee et de la salle
  function load_planning(room_id) {

    planning_container.innerHTML = '';
    session_id = -1;
    let url = "{% url 'planning:planning-ajax' 1234 5678 %}".replace(/1234/, room_id.toString()).replace(/5678/,date_id);
    fetch(url)
      .then(e => e.json())
      .then(messages => {

        for (message of messages) {
          construct_planning(message);
        }
        // si vide on affiche ajout de session
      })
  }

  //On va chercher la liste des jours et on les affiche un par un
/*  function construct_rooms(room) {

    let div = document.getElementById("rooms");
    let a = document.createElement("a");
    a.href = "javascript:setRoomLive('" + room.number + "." + room.id + "')"; // à adapter en fonction de tes besoins
    a.className = "list-group-item list-group-item-action text-center rounded-0";
    a.style = "border-bottom: 2px solid #1ce; height: 34px; padding: 2px 7px;";
    a.innerHTML = room.number + "." + room.name;
    div.appendChild(a);
    console.log(a)
  }
*/
  // ajoute des div pour affichage du planning 
  function construct_planning(pres) {

    let div = document.createElement("div");
    if (session_id != pres.session_id) {
      div.innerHTML = `
                <li id="id_sess${ pres.session_id }" class="list-group-item list-group-item-warning  align-items-start  list-group-item-action" onclick="select_prest( 1,${ pres.session_id }, ${ pres.session_id } )">                
                 <div class="d-flex w-100 justify-content-between">
                  <h5>
                    ${ pres.session_title }
                    <br> <small class="text-muted"> ${ pres.time_begin }  -> ${ pres.time_end } </small>
                  </h5>
                </div>  
                </li>
                `
      session_id = pres.session_id;
    } else div.innerHTML = '';

    id_pres = pres.id;
    let tmp;
    
    if(pres.fichier_pptx)
        tmp = "bi bi-play-circle fa-3x" ;
    else tmp ="bi bi-x-circle";

    div.innerHTML += `
        <li  id="id_pres${ pres.id }" class="presta list-group-item   align-items-start list-group-item-action" onclick="select_prest(0,${ pres.session_id }, ${ pres.id } )">  
            <div id="part1_pres" class="d-flex w-100 justify-content-between">
              <h5>
                ${ pres.author }    [ ${ pres.duration } ] 
                <br> <small class="text-muted"> ${ pres.title } </small>
              </h5>
              <span class=" float-end">
                <i id="btn-lancement" class="${tmp}" style="font-size: 3rem" onclick="ouvrir_presentation( ${ pres.id })"></i>
              </span> 
            </div>

        </li>`
        
    //div.setAttribute("id", "id_pres"+ pres.id ); 
    planning_container.appendChild(div);
    div.scrollIntoView()
  }
/*
  function couleur_bouton(){
    fetch("{% url 'planning:couleur_bouton' %}", {
      method:"POST",
      credentials: 'same-origin',
      headers: {
        "X-CSRFToken": csrf_token,
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        // fichier itération salle : 
      }),
    }).then(function (response) {
      console.log("Présentation ouverte");
    }).catch(function (error) {
      console.log("Une erreur s'est produite : " + error)
    });
  }
*/
  function ouvrir_presentation(presentation_id) {
    fetch("{% url 'planning:open_pres' %}", {
      method:"POST",
      credentials: 'same-origin',
      headers: {
        "X-CSRFToken": csrf_token,
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        id: presentation_id,
        room_ip: room_ip,
        pupitre: true,
      }),
    }).then(e => e.json()).then(messages => {
        if( messages.message.includes("Erreur") ) 
          alert(messages.message) ;
        console.log(messages.message);
    })
  }

  function select_prest(issession, sess_id, pres_id) {
    // le reste
    sess_sel = sess_id;
    if (issession) {
      tmp = document.getElementById("id_sess" + sess_id);

    if (old_sel)
      old_sel.style.color = tmp.style.color;
    tmp.style.color = "#1ce";
    old_sel = tmp;

    on_edit = false;
  }
}
  
 
</script>

{% endblock %}