{% extends 'Planning/base.html' %}
{% load static %}
{% block title%}Upload{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <hr>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body" data-mdb-perfect-scrollbar="true" style="padding-right:0; padding-left:0; height:695px; overflow-y: scroll;">
                    <input type="text" id="searchInput" class="form-control" placeholder="Rechercher un intervenant" style="border-radius: 0;">
                    <div class="list-group planning-area">
                        <!-- planning area by ajax -->
                        {% for intervenant in intervenant_all %}

                        <li id="{{ intervenant.id }}"
                            class="list-group-item personne align-items-start list-group-item-action">
                            <!-- onclick="select_prest(0,${ pres.session_id }, ${ pres.id } ) -->
                            <div class="d-flex w-100 justify-content-between" onclick="getPres('{{ intervenant.id }}')" >
                                <img src="{{ intervenant.logo.url }}" style="width: 75px;height: 75px;border-radius: 30rem;">
                                <h5 class="mb-1" style="align-self: center;">{{ intervenant.prenom }} <strong>{{ intervenant.nom|upper }}</strong></h5>
                                
                            </div>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div id="presta_container" class="card-body" data-mdb-perfect-scrollbar="true" style="padding-right:0; padding-left:0; height:695px; overflow-y: scroll;">

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="js_data"  data-csrf="{{csrf_token}}" />
    <input type="hidden" id="id_pres"  data-csrf="" />
</div>
<!-- popup add file -->
<div id="overlay">
    <section id="page_upload" >
        <div class="container" >
            <div id="divrow" class="row"  > 
                <div class="col">
                <div class="mb-3 mt-3">
                    <div style="display: flex; justify-content: space-between;">
                        <h2 class="mb-3" style="font-weight: 300">Importer une présentation  (.pptx, <strong>1GO max</strong>)</h2>
                        <span style="font-weight: 900; cursor: pointer;" onclick="popup_close()">&times;</span>
                    </div>
                        <form enctype="multipart/form-data" method="POST" action="" style="text-align: center;">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <input type="file" value="Custom Button Name" class="form-control" id="fileupload" placeholder="Select file">
                            </div>    
                        </form>
                        <button type="button" value="0" id="upload_btn" class="btn btn-primary ">Upload...</button>
                            <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Uploading...
                            </button>
                
                            <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>
        
                        <div id="progress_wrapper">
                        </div>
                        <div id="alert_wrapper"></div>
                    </div> 
                </div>
            </div> 
        </div>
    </section>
</div>


<script link></script>
<script type="text/javascript">
    let csrf_token = $("#js_data").attr("data-csrf");
    var liste_personnes = document.querySelectorAll('.personne')
    

    // permet de fermer la popup en cliquant en dehors de la popup
    document.getElementById("overlay").addEventListener("dblclick", function () {
        document.getElementById("overlay").style.display = "none";
    });
    //gestion de la popup
    function popup() {
        document.getElementById("overlay").style.display = "block";
    }
    function popup_close() {
        document.getElementById("overlay").style.display = "none";
        console.log ("oue", document.getElementById("upload_btn").value);
        tmp="" ;
            if( document.getElementById("upload_btn").value==2) {
                tmp="bi bi-check2-all text-success" ;
            }  
            else if( document.getElementById("upload_btn").value==1)  tmp="bi bi-check2 text-success" ;
            document.getElementById(`check_mark_${ id_pres }`).className = tmp; 
            document.getElementById(`play_pres_${ id_pres }`).hidden = !( document.getElementById("upload_btn").value==2);    
    }

    function uploadFile(on_server, id_pres) {
        document.getElementById("upload_btn").value=id_pres;
        
        if (on_server ) {
            if(confirm("Un fichier existe déjà pour cette présentation. Voulez-vous l'écraser ?")) 
                document.getElementById("overlay").style.display = "block";
            
        } else   document.getElementById("overlay").style.display = "block";
        //file_check(id_pres);
       
    }


    function getPres (intervenant_id){
  
        fetch("{% url 'planning:upload_intervenant' %}", {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    "X-CSRFToken": csrf_token,
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                id: intervenant_id,
                }),
            }).then(response => response.json())
            .then(data => {
                document.getElementById("presta_container").innerHTML = '';
                data.presentations.forEach(presta => {
                    construct_presta(presta)//gère la construction des prestations 
                    tmp="" ;
                    if(presta.in_room)   tmp="bi bi-check2-all text-success" ;
                    else if(presta.on_server)  tmp="bi bi-check2 text-success" ;
                    document.getElementById(`check_mark_${ presta.id }`).className = tmp; 
                    document.getElementById(`play_pres_${ presta.id }`).hidden = !presta.in_room;             
                });
               
            }) .catch(error => console.error(error));
        
    }

    function ouvrir_presentation(presentation_id) {
        fetch("{% url 'planning:open_pres' %}", {
        method:"POST",
        credentials: 'same-origin',
        headers: {
            "X-CSRFToken": csrf_token,
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            id: presentation_id,
        }),
        }).then(function (response) {
            console.log("Présentation ouverte");
        }).catch(function (error) {
            console.log("Une erreur s'est produite : " + error)
        });
    }

    function construct_presta(presentation) {
        
        let div = document.createElement("div");
        div.innerHTML = `
            <li id="${presentation.id}" class="list-group-item align-items-start list-group-item-action">                
                <div id="list_presentation_block1" class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> ${presentation.title}</h5>
                    <span id="emojis" class="float-end">
                        <i  class="bi text-success" id="check_mark_${ presentation.id }" > </i>
                    </span>
                </div>

                <div id="list_presentation_block2" class="d-flex w-100 justify-content-between">
                    <h6 id="duree" class="d-flex ">${ presentation.duration } min</h6>
                    <span class=" float-end">              
                        <div>
                            <a href="#" alt="tester le fichier" class="bi bi-paperclip text-info" onclick="uploadFile(${presentation.on_server}, ${presentation.id})"  ></a>&nbsp;
                            <a href="#" alt="tupload file" class="bi bi-play-circle text-success"  id="play_pres_${ presentation.id }"  onclick="ouvrir_presentation(${ presentation.id }) hidden"></a>
                        </div>
                    </span> 
                    
                </div>
            </li>    
            `
        document.getElementById("presta_container").appendChild(div);
        //div.scrollIntoView()
    }

    function filterIntervenants(searchTerm) {
        var intervenantList = $('.planning-area');
        var intervenants = intervenantList.find('li');

        intervenants.each(function() {
            var intervenant = $(this);
            var intervenantName = intervenant.find('h5').text().toLowerCase();

            if (intervenantName.indexOf(searchTerm.toLowerCase()) === -1) {
                intervenant.hide();
            } else {
                intervenant.show();
            }
        });
    }

    // Écouter l'événement de saisie dans la barre de recherche
    $('#searchInput').on('input', function() {
        var searchTerm = $(this).val();
        filterIntervenants(searchTerm);
    });

</script>
<script src="{% static 'js/upload.js' %}" defer></script>

{% endblock %}